body,
html {
  height: 100%;
  color: white;
  text-align: center;
  font-size: 9px;
}

.bg {
  /* The image used */
  background-image: url('../images/starwars_background.jpg');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border: 0.1px solid black;
}

.obi-wan,
.luke,
.darth_sidious,
.darth_maul {
  border: 1px solid green;
  padding: 0;
  width: 23.5%;
  height: 75%;
}

.your-obi-wan,
.your-luke,
.your-darth_sidious,
.your-darth_maul,
.enemy-obi-wan,
.enemy-luke,
.enemy-darth_sidious,
.enemy-darth_maul,
.defender-obi-wan,
.defender-luke,
.defender-darth_sidious,
.defender-darth_maul {
  display: none;
  border: 1px solid green;
  padding: 0;
  width: 23.5%;
  height: 75%;
}

.btn-secondary {
  display: none;
}

img {
  width: 67%;
  height: 67%;
}

.container {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

.name {
  margin-top: 5px;
}

#obi-wan-hp,
#luke-hp,
#darth-sidious-hp,
#darth-maul-hp {
  margin-bottom: 5px;
  padding: 0;
}

.pagetitles {
  text-align: left;
  margin-left: 10px;
  font-family: 'Exo 2', sans-serif;
}

button {
  position: absolute;
  left: 10px;
}
